<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd、
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--<mvc:annotation-driven/>-->
    <!--<context:component-scan base-package="com.qinglan.sdk.server"/>-->

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="locations">
            <list>
                <value>classpath*:application.properties</value>
            </list>
        </property>
    </bean>
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>

    <bean class="com.qinglan.sdk.server.task.OrderNotifyTask" init-method="init" lazy-init="false"
          scope="singleton"/>

    <bean class="com.qinglan.sdk.server.task.LoggerTask" init-method="init" lazy-init="false"
          scope="singleton"/>

    <bean class="com.qinglan.sdk.server.task.TencentPollNotifyTask" init-method="init"
          lazy-init="false" scope="singleton"/>

    <bean id="kafkaProducerClient" class="com.qinglan.sdk.server.kafka.KafkaProducerClient"
          init-method="init" lazy-init="false" scope="singleton">
        <property name="brokerList" value="${kafka.metadata.broker.list}"></property>
        <property name="defaultTopic" value="${kafka.defaultTopic}"></property>
    </bean>

    <import resource="application-mybatis.xml"/>
    <import resource="application-cache.xml"/>
</beans>
