<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinglan.sdk.server.domain.basic.Account">
    <resultMap id="BaseResultMap" type="com.qinglan.sdk.server.domain.basic.Account">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="channelId" jdbcType="INTEGER" property="channelId"/>
        <result column="zoneId" jdbcType="VARCHAR" property="zoneId"/>
        <result column="roleId" jdbcType="VARCHAR" property="roleId"/>
        <result column="roleName" jdbcType="VARCHAR" property="roleName"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <insert id="insert" parameterType="com.qinglan.sdk.server.domain.basic.Account">
    insert into b_account (id, channelId, uid,
      createTime)
    values (#{id,jdbcType=BIGINT}, #{channelId,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP})
  </insert>

    <select id="getAccount" parameterType="java.util.Map"
            resultType="com.qinglan.sdk.server.domain.basic.Account">
  	select * from b_account 
  	where channelId = #{channelId,jdbcType=INTEGER} and uid = #{uid,jdbcType=VARCHAR}
  </select>

    <insert id="insertbatch" parameterType="java.util.List">
        insert into b_account (id, channelId, uid, createTime) values
        <foreach collection="list" item="item" index="index"
                 separator=",">
            (#{item.id,jdbcType=BIGINT}, #{item.channelId,jdbcType=INTEGER}, #{item.uid,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
</mapper>