<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qinglan.sdk.server.domain.basic.BehaviorUser">

    <select id="getUserBehavior" resultType="com.qinglan.sdk.server.domain.basic.BehaviorUser"
            parameterType="java.util.Map">
        select
        `clientType`, `uid`, `gameId`, `platformId`, `zoneId`, `data` , `roleData`
        from b_behavior_user
        where
        clientType = #{clientType}
        AND uid = #{uid}
        AND gameId = #{gameId}
        AND platformId = #{platformId}
        <if test="zoneId != null">
            AND zoneId = #{zoneId}
        </if>
    </select>

    <insert id="insert" parameterType="java.util.Map">
    insert into 
    b_behavior_user 
    	(`clientType`, `uid`, `platformId`, `gameId`, `zoneId`, `data`, `roleData`)
    values 
    	(#{clientType,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR}, #{platformId,jdbcType=INTEGER}, #{gameId,jdbcType=BIGINT}, #{zoneId,jdbcType=VARCHAR}, #{data,jdbcType=LONGVARCHAR}, #{roleData,jdbcType=LONGVARCHAR})
  </insert>

    <update id="update" parameterType="java.util.Map">
    update 
    b_behavior_user
    set 
    	`data` = #{data,jdbcType=LONGVARCHAR},`roleData` = #{roleData,jdbcType=LONGVARCHAR}
    where 
    	clientType = #{clientType}
	    AND uid = #{uid} 
	    AND gameId = #{gameId}
	    AND platformId = #{platformId}
	    AND zoneId = #{zoneId} 
  </update>
</mapper>