<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qinglan.sdk.server.dao.HLastLogin">
    <select id="findOne" parameterType="java.util.Map" resultType="com.qinglan.sdk.server.dao.HLastLogin">
  	select 
  		uid, pid, clientType, gameId, zoneId  
  	from h_last_login 
  	where 
  		uid = #{uid,jdbcType=VARCHAR} 
  		AND pid = #{pid,jdbcType=INTEGER}
  		AND clientType = #{clientType,jdbcType=INTEGER}
  		AND gameId = #{gameId,jdbcType=BIGINT}
  		AND zoneId = #{zoneId,jdbcType=VARCHAR}
  </select>

    <insert id="insert" parameterType="com.qinglan.sdk.server.dao.HLastLogin">
    insert into h_last_login 
    	(uid, pid, clientType, gameId, zoneId, lastLoginDate, isPaidUser)
    values 
    	(#{uid}, #{pid}, #{clientType}, #{gameId}, #{zoneId}, NOW(), #{isPaidUser})
  </insert>

    <update id="updateIsPaidUser" parameterType="java.util.Map">
  	update h_last_login
  	SET isPaidUser = 1
  	where 
  		uid = #{uid,jdbcType=VARCHAR} 
  		AND pid = #{pid,jdbcType=INTEGER}
  		AND clientType = #{clientType,jdbcType=INTEGER}
  		AND gameId = #{gameId,jdbcType=BIGINT}
  		AND zoneId = #{zoneId,jdbcType=VARCHAR}
  </update>

    <update id="updateLastLoginDate" parameterType="java.util.Map">
  	update h_last_login
  	SET lastLoginDate = NOW()
  	where 
  		uid = #{uid,jdbcType=VARCHAR} 
  		AND pid = #{pid,jdbcType=INTEGER}
  		AND clientType = #{clientType,jdbcType=INTEGER}
  		AND gameId = #{gameId,jdbcType=BIGINT}
  		AND zoneId = #{zoneId,jdbcType=VARCHAR}
  </update>
</mapper>